@page "/"
@using TennisRankings
@inject MenSingleOfficialService _MenSingleOfficialService

<PageTitle>Ranking</PageTitle>


<h1>ATP Ranking</h1>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <style>
        .padded-table {
            padding: 20px;
        }
    </style>

    <table class="table padded-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Age</th>
                <th>Points</th>
                <th>Points change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Rank</td>
                    <td>@player.Name</td>
                    <td>@player.Age</td>
                    <td>@player.Points</td>
                    <td>@player.PointsChange</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TennisRankingOfficial>? players;

    protected override async Task OnInitializedAsync()
    {
        players = await _MenSingleOfficialService.GetRankingsAsync();
    }
}
