@page "/atp-singles"
@using TennisRankings
@inject MenSingleOfficialService _MenSingleOfficialService
@layout RankingLayout

<PageTitle>ATP Ranking</PageTitle>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-wrapper">
        <table class="rankings-table">
            <thead>
                <tr>
                    <th class="rank">Rank</th>
                    <th class="player">Player</th>
                    <th class="age">Age</th>
                    <th class="points">Points</th>
                    <th class="points-change">Points change</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in players)
                {
                    <tr>
                        <td>@player.Rank</td>
                        <td>@player.Name</td>
                        <td>@player.Age</td>
                        <td>@player.Points</td>
                        <td>@player.PointsChange</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<TennisRankingOfficial>? players;

    protected override async Task OnInitializedAsync()
    {
        players = await _MenSingleOfficialService.GetRankingsAsync();
    }
}
